:root {
    --theme-background: #2c3643;
    --theme-gray: #99A9B3;

    --theme-pink: #FF6E8D;
    --theme-red: #FA5E5B;

    --theme-blue: #89BDE4;
    --theme-dark-blue: #288AD6;

    --theme-green: #0fd8b9;
    --theme-dark-green: #16C98D;

    --theme-yellow: #FFC83F;
}